@page
@model WebApp1.Pages.Categories.IndexModel

<div class="container"> 
    <div class="mb-3">
        <a asp-page="create" class="btn btn-primary">Create</a>
    </div>   
    <table class="table table-dark table-striped">
        <tr>
            <th>Name</th>
            <th >Display Order</th>
            <th >Action</th>
        </tr>    
        @foreach(var obj in Model.Categories)
        {
            <tr>
                <td>@obj.Name</td>
                <td>@obj.DisplayOrder</td>
                <td>
                    <a asp-page="edit" asp-route-id="@obj.Id" class="btn btn-warning">e</a>
                    <a asp-page="delete" asp-route-id="@obj.Id" class="btn btn-danger">d</a>
                </td>
            </tr> 
            
        }
        
    </table>
</div>